{{>header}}
<body>
    {{>navbar}}
    <div class="contenedor">
        <div>
            <h1>Alan Beltrán</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos corrupti minus assumenda repudiandae aspernatur. Excepturi odio eum, soluta consequatur eligendi quasi fugiat, quo cupiditate rerum inventore esse distinctio tempore! Voluptates.</p>
        </div>
        <div>
            <img src="assets/img/Alan.jpg" alt="Alan" class="img-thumbnail img">
        </div>
    </div>
{{>footer}}